<% provide(:title, "HomePage") %>

<!-- <html class="index-background">
    <div class="index-tran-box">
      <div class="index-box">
        <div class="index-header"> FoodnTrip </div>
        <div class="index-slogan"> SLOGAN*SLOGAN*SLOGAN</div>

        <div class="index-button"><%= button_to "Sign in", new_user_session_path, :class => "btn btn-lng index-orange-button", :method => "get" %></div>
        <div class="index-button"><%= button_to "Register", new_user_registration_path, :class => "btn btn-lng index-orange-button", :method => "get"	%></div>
        <div class="index-last-button"><%= button_to "I Want it Now!", '#', :class=> " btn btn-lng index-red-button", :method => "get" %></div>
      </div>
    </div>
</html> -->


<p id="notice"><%= notice %></p>


<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<h1> PLEASE CLICK <strong>YES</strong> WHEN A POPUP ASKING TO ACCESS YOUR LOCATION. </h1>

<p id="current-location-box"></p>

<script>
var x = document.getElementById("current-location-box");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
  var y_lat;
  var y_long;

    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    y_lat = position.coords.latitude;
    y_long = position.coords.longitude;
    updateCoordinate(y_lat, y_long)
}

function updateCoordinate(y_lat, y_long) {
  var params = {'y_lat' : y_lat, 'y_long' : y_long}
  $.post("/showcoordinate", params, function() {
    console.log('posting ' , params)
  })
  .done(function(data){
    window.location.href = '<%= places_path %>';
    // document.getElementById('place').innerText = data['places'][0]['hash']['name'];
    console.log("yo")
  })
  .fail(function(data){
    console.log("fail", data)
  })

}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            alert("User denied the request for Geolocation.")
            break;
        case error.POSITION_UNAVAILABLE:
            alert("Location information is unavailable.")
            break;
        case error.TIMEOUT:
            alert("The request to get user location timed out.")
            break;
        case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.")
            break;
    }
}
</script>
