<p id="notice"><%= notice %></p>

<h1>Listing Userplaces</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Place</th>
      <th>Bookmark</th>
      <th>Check in</th>
      <th>Bookmark date</th>
      <th>Checkin date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userplaces.each do |userplace| %>
      <tr>
        <td><%= userplace.user %></td>
        <td><%= userplace.place %></td>
        <td><%= userplace.bookmark %></td>
        <td><%= userplace.check_in %></td>
        <td><%= userplace.bookmark_date %></td>
        <td><%= userplace.checkin_date %></td>
        <td><%= link_to 'Show', userplace %></td>
        <td><%= link_to 'Edit', edit_userplace_path(userplace) %></td>
        <td><%= link_to 'Destroy', userplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userplace', new_userplace_path %>
