<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userplace.user %>
</p>

<p>
  <strong>Place:</strong>
  <%= @userplace.place %>
</p>

<p>
  <strong>Bookmark:</strong>
  <%= @userplace.bookmark %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @userplace.check_in %>
</p>

<p>
  <strong>Bookmark date:</strong>
  <%= @userplace.bookmark_date %>
</p>

<p>
  <strong>Checkin date:</strong>
  <%= @userplace.checkin_date %>
</p>

<%= link_to 'Edit', edit_userplace_path(@userplace) %> |
<%= link_to 'Back', userplaces_path %>
