<!-- <p id="notice"><%= notice %></p>


<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="current-location-box"></p> -->



<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Review Count</th>
      <!-- <th>Image</th> -->
      <th>Categories</th>
      <th>Snippet Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='test'>
    <% @places.each do |place| %>
      <tr>

        <td><%= place.id %> </td>
        <td><%= method_caller place, :name %></td>
        <td><%= method_caller place, :rating %> </td>
        <td><%= method_caller place, :location, :coordinate, :latitude %></td>
        <td><%= method_caller place, :location, :coordinate, :longitude %></td>
        <td><%= method_caller place, :location, :display_address %></td>
        <td><%= method_caller place, :location, :city %></td>
        <td><%= method_caller place, :location, :country_code %></td>
        <td><%= method_caller place, :review_count %></td>
        <td><img src = "<%= place.image_url if method_caller(place, :image_url) %>" ></td>
        <td><%= method_caller place, :categories %></td>
        <td><%= method_caller place, :snippet_text %></td>


      </tr>
    <% end %>
  </tbody>
</table>
<img src="//s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/c2e071437bfb/assets/img/yelp_review_btn_red@2x.png" alt="Reviews from Yelp, red" width="140" ,="" height="30">
<br>
