<p id="notice"><%= notice %></p>


<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="current-location-box"></p>



<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Review Count</th>
      <th>Image</th>
      <th>Categories</th>
      <th>Snippet Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>

        <td><%= place.id %> </td>
        <td><%= place.name %></td>
        <td><%= place.rating %> </td>
        <td><%= place.location.coordinate.latitude %></td>
        <td><%= place.location.coordinate.longitude %></td>
        <td><%= place.location.display_address %></td>
        <td><%= place.location.city %></td>
        <td><%= place.location.country_code %></td>
        <td><%= place.review_count %></td>
        <td><img src = "<%= place.image_url %>" %></td>
        <td><%= place.categories %></td>
        <td><%= place.snippet_text %></td>


      </tr>
    <% end %>
  </tbody>
</table>
<img src="//s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/c2e071437bfb/assets/img/yelp_review_btn_red@2x.png" alt="Reviews from Yelp, red" width="140" ,="" height="30">
<br>

<script>
var x = document.getElementById("current-location-box");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
  var y_lat;
  var y_long;

    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    y_lat = position.coords.latitude;
    y_long = position.coords.longitude;
    updateCoordinate(y_lat, y_long)
}

function updateCoordinate(y_lat, y_long) {
  var params = {'y_lat' : y_lat, 'y_long' : y_long}
  $.post("/showcoordinate", params, function() {
    console.log('posting ' , params)
  })
  .done(function(data){
    debugger
  })
  .fail(function(data){
    console.log("fail", data)
  })

}
</script>
