<!-- <p id="notice"><%= notice %></p>


<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="current-location-box"></p> -->



<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Review Count</th>
      <th>Image</th>
      <th>Categories</th>
      <th>Snippet Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='test'>
    <% @places.each do |place| %>
      <tr>

        <td id='place'><%= place.id %> </td>
        <td><%= place.name %></td>
        <td><%= place.rating %> </td>
        <td><%= place.location.coordinate.latitude %></td>
        <td><%= place.location.coordinate.longitude %></td>
        <td><%= place.location.display_address %></td>
        <td><%= place.location.city %></td>
        <td><%= place.location.country_code %></td>
        <td><%= place.review_count %></td>
        <% if place.image_url %>
          <td><img src = "<%= place.image_url %>" ></td>
        <% end %>
        <% if place.categories %>
          <td><%= place.categories %></td>
        <% end %>
        <% if place.snippet_text %>
          <td><%= place.snippet_text %></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>
<img src="//s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/c2e071437bfb/assets/img/yelp_review_btn_red@2x.png" alt="Reviews from Yelp, red" width="140" ,="" height="30">
<br>
